// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_panel {
  background: url("1.jpg");
  color: white;
  animation-name: loginbg;
  animation-duration: 12s;
  /*变换时间*/
  animation-delay: 2s;
  /*动画开始时间*/
  animation-iteration-count: infinite;
  /*下一周期循环播放*/
  animation-play-state: running;
  /*动画开始运行*/
}

@keyframes loginbg {
  0% {
    background: url("1.jpg");
  }
  34% {
    background: url("2.jpg");
  }
  67% {
    background: url("3.jpg");
  }
  100% {
    background: url("1.jpg");
  }
}

.form {
  background: rgba(255, 255, 255, 0.2);
  width: 400px;
  margin: 120px auto;
  color: white;
}

/*阴影*/
.fa {
  display: inline-block;
  top: 27px;
  left: 6px;
  position: relative;
  color: #ccc;
}

input[type="text"], input[type="password"] {
  padding-left: 26px;
}

.checkbox {
  padding-left: 21px;
}